#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.gradient-form {
  height: 100vh; /* Ensure the card occupies the entire viewport height */
}

.font-style {
  font-family: "Montserrat", sans-serif; /* Or 'Roboto', sans-serif */
  font-size: 12px; /* Adjust size as needed */
  font-weight: bold; /* Or normal, depending on preference */
  color: #0000; /* White text color */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 0;
  height: 100%;
}

.read-the-docs {
  color: #888;
}

.gradient-custom-2 {
  background: #fccb90;

  background: -webkit-linear-gradient(to right, 135deg, #007bff, #00bcd4);

  background: linear-gradient(
    to right,
    #ee7724,
    #d8363a,
    #dd3675,
    #b44593,
    #a280d1
  );
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
